@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Poppins", sans-serif;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.dashboard {
  min-height: 79.5vh;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-ring {
  animation: ring 0.5s ease-in-out infinite;
}
